<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/LogoDocOfi.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/nosotros.css">
    <title>Acerca de Nosotros</title>
</head>

<body>
    <div class="mainContainer">
        <!-- Header - Menú -->
        <header class="encabezado">
            <nav class="nav">
                <a href="#" class="logo" id="logo-menu"><img src="../img/LogoDocOfi.png" class="logo"></a>
                <div class="buscar-contenedor" id="containerSearchContact">
                    <input type="text" class="inputBuscador" id="inputSearch" name="inputSearch">
                    <label for="inputSearch" id="label"><i class='bx bx-search'></i></label>
                    <button type="button" id="btnSearchContact">Buscar<i class='bx bx-chevron-down'></i></button>
                </div>
                <div class="menu-hamburguesa" id="burguer"><i class='bx bx-menu'></i></div>
                <ul class="nav-menu" id="menuContainerContact">
                    <div class="boton-cerrar-menu" id="closeMenu"><i class='bx bx-chevrons-left'></i></div>
                    <li><a href="#nosotros" class="nav-menu-item">Acerca de nosotros</a></li>
                    <li><a href="/views/contactanos.html" class="nav-menu-item">Contáctanos</a></li>
                    <li><a href="/views/inicio.html" class="nav-menu-item" target="_blank">Devbook</a></li>
                </ul>
            </nav>
        </header>
        <!-- Finaliza codigo Menú -->

        <!-- Sección Acerca de Nosotros -->
        <section class="encabezadoNosotros" id="startPage">
            <div class="principal">
                <h1>Acerca de Nosotros</h1>
                <h3>¿Qué es Formatech?</h3>
                <p>En Formatech , nos dedicamos a proporcionar soluciones web
                    y tecnológicas de vanguardia que transforman la forma en que los desarrolladores
                    operan y crecen. Nuestra propuesta de valor radica en ofrecer innovación,
                    adaptabilidad, eficiencia y colaboración continua. Con DevBook, los usuarios
                    pueden confiar en una plataforma sólida y confiable que les permite innovar,
                    crecer y alcanzar sus metas profesionales de manera efectiva y eficiente.
                </p>
                <div class="btn-top botones">
                    <a href="/views/contactanos.html">Contáctanos <i class='bx bx-right-arrow-alt'></i>
                    </a>
                    <a href="/views/inicio.html" target="_blank">DevBook <i class='bx bx-right-arrow-alt'></i></a>
                </div>
            </div>

            <div class="imagenes">
                <div class="imagen-gris">
                    <img class="imagen-1" src="../img/desarrollo.jpeg">
                    <img class="imagen-2" src="../img/oficina.jpeg">
                </div>
            </div>

            <div class="btn-bottom botones">
                <a href="/views/contactanos.html">Contáctanos <i class='bx bx-right-arrow-alt'></i> </a>
                <a href="/views/inicio.html" target="_blank">DevBook <i class='bx bx-right-arrow-alt'></i></a>
            </div>
        </section>
        <!-- Finaliza Sección Acerca de Nosotros -->


        <!-- Sección Misión-Visión-Valores -->
        <section class="seccion-mision-vision-valores">
            <div class="tarjeta mision" id="tarjeta-mision">
                <img src="../img/mision.png" alt="ImgMision">
                <h2>Misión</h2>
                <p>Nos comprometemos a ofrecer soluciones web y tecnológicas innovadoras y de vanguardia para satisfacer
                    las necesidades de nuestros usuarios.
                    Nuestro objetivo es proporcionar servicios de alta calidad que impulsen el crecimiento y el éxito de
                    los profesionales y empresas del sector tecnológico.</p>
            </div>
            <div class="tarjeta vision" id="tarjeta-vision">
                <img src="../img/vision.png" alt="ImgVision">
                <h2>Visión</h2>
                <p>Nos visualizamos como líderes en la implementación de soluciones tecnológicas, destacando por nuestra
                    excelencia en el servicio al cliente,
                    nuestra constante innovación y nuestra capacidad para adaptarnos a un entorno tecnológico en
                    evolución constante.</p>
            </div>
            <div class="tarjeta valores" id="tarjeta-valores">
                <h2>Valores</h2>
                <img src="../img/valores.png" alt="ImgValores">
            </div>
        </section>
        <!-- Finaliza Sección Misión-Visión-Valores -->


        <!-- Edwar - Equipo -->
        <section class="contenedor-equipo">
            <h2>EQUIPO</h2>
            <div class="contenedor-persona">
                <div class="equipo">
                    <h3>Edwar León</h3>
                    <div class="info-equipo">
                        <div class="img-equipo edwar">
                            <p>Apasionado de la programación, Edwar lleva 3 años creando aplicaciones y soluciones
                                prácticas para empresas. Ahora, como parte del equipo, desempeña un papel importante y
                                quiere llevarlo al siguiente nivel.</p>
                        </div>
                    </div>
                    <h4>Scrum Master</h4>
                </div>
                <div class="equipo">
                    <h3>Vanessa Mora</h3>
                    <div class="info-equipo">
                        <div class="img-equipo vanessa">
                            <p>Soy Desarrollador Full Stack con más de 3 años de experiencia en diseño web,
                                especializado en back-end, Java y Spring-Boot. Aplicando MVC y arquitecturas limpias
                                para eficiencia y escalabilidad.</p>
                        </div>
                    </div>
                    <h4>Product Owner</h4>
                </div>
                <div class="equipo">
                    <h3>Mateo Castro</h3>
                    <div class="info-equipo">
                        <div class="img-equipo mateo">
                            <p>Soy Mateo Castro, esposo, hijo, hermano, con ganas de salir adelante junto a su familia,
                                joven ingeniero graduado de la UdeA, entusiasmado por ayudar a su comunidad.</p>
                        </div>
                    </div>
                    <h4>Dev. Jr Java Full Stack</h4>
                </div>
                <div class="equipo">
                    <h3>Yuli León</h3>
                    <div class="info-equipo">
                        <div class="img-equipo yuli">
                            <p>Soy yuli apasionada por programar, las artes y las series. Creo en la innovación, la
                                creatividad y el aprendizaje continuo.</p>
                        </div>
                    </div>
                    <h4>Dev. Jr Java Full Stack</h4>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="pie-pagina">
            <div class="contenedor-piepagina">
                <div class="columnaContactoLogo">
                    <div class="columnaLogo">
                        <a href="#">
                            <img src="../img/LogoDocOfi.png" alt="Logo de la empresa">
                        </a>
                    </div>
                    <div class="columnaContacto">
                        <ul>
                            <li>
                                <h3>CONTACTO</h3>
                            </li>
                            <li>
                                <i class="fas fa-phone-alt"></i>
                                <span>
                                    +57 300 728 35 26
                                </span>
                            </li>
                            <li>
                                <i class="fas fa-map-marker-alt"></i>
                                <span>
                                    Calle 80 N° 102 - 64
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="columnaInstitucional">
                    <ul>
                        <li>
                            <a href="#">
                                <h3>INSTITUCIONAL</h3>
                            </a>
                        </li>
                        <li>
                            <a href="#startPage">
                                <i class="fas fa-comment-dots"></i> Nosotros
                        </li>
                        <li>
                            <a href="#tarjeta-mision">
                                <i class="fas fa-question-circle"></i> Misión y Visión
                            </a>
                        </li>
                        <li>
                            <a href="#tarjeta-valores">
                                <i class="fas fa-question-circle"></i> Valores
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-user-shield"></i> Política de Privacidad
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-shield-alt"></i> Aviso de Privacidad
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-file-contract"></i> Términos y Condiciones
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="redes-sociales">
                <a href="https://www.linkedin.com/feed/" class="icono-linkedin" target="_blank"><i
                        class="fab fa-linkedin"></i></a>
                <a href="https://github.com/EdwarLe/DevBook" class="icono-github" target="_blank"><i
                        class="fab fa-github"></i></a>
                <a href="mailto:administracion@formattech.com.co" class="icono-correo"><i
                        class="fas fa-envelope"></i></a>
                <a href="https://www.facebook.com/" class="icono-facebook"><i class="fab fa-facebook"></i></a>
            </div>
            <div class="derechos">
                <p>&copy; 2024 Formatech. Todos los derechos reservados.</p>
            </div>
    </div>
    </footer>
    <!-- Finaliza Footer -->
    <div class="btnArriba"><a href="#startPage"><i class='bx bxs-chevron-down'></i></a></div>
    </div>
    <script src="../js/menu-hamburguesa.js"></script>
</body>

</html>