<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/LogoDevBook.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/perfil.css">
    <link rel="stylesheet" href="../styles/inicio.css">
    <title>Perfil</title>
</head>

<body>
    <div class="contenedorPrincipalApp">
        <!-- header -->
        <header class="header">
            <a href="./inicio.html">
                <i class='bx bxs-chevrons-left' id="btn-back-post"></i>
            </a>
            <h1>DevBook</h1>
        </header>
        <!-- Finaliza sección del header -->

        <!-- Sección de foto de portada y perfil -->
        <section class="cover-photo-profile">
            <div class="cover-photo-banner">
                <div class="banner">

                </div>
                <div class="btn-coverbanner"><i class='bx bxs-camera'></i></div>
            </div>
            <div class="profile-mobile">
                <img class="photo-profile" src="../public/images/edwar-leon.png" alt="nan">
                <div class="btn-coverphoto"><i class='bx bxs-camera'></i></div>
            </div>

            <div class="Username">
                <h4> Eddy León</h4>
            </div>
            <div class="btn-notifications-desktop" id="btn-notifications-desktop">
                <i class='bx bxs-bell icon-footer icon-notifications-desktop'></i>
                Notificaciones
            </div>
        </section>
        <!-- descripción del perfil -->
        <section class="container-description-btn-edit-and-conf">
            <div class="profile-description">
                <p>
                    Soy un apasionado del desarrollo frontend con más de 4 años de experiencia en la creación de
                    interfaces web modernas y responsivas. Mi enfoque se centra en combinar diseño atractivo con
                    funcionalidad robusta, siempre buscando mejorar la experiencia del usuario.
                </p>
            </div>
            <div class="container-btn-edit-profile-config">
                <button type="button" id="btn-edit-profile">Editar Perfil</button>
                <button type="button" id="btn-config">Configuración</button>
            </div>
            <div class="line-division-btn"></div>
        </section>
        <!-- Finaliza descripción del perfil -->
        <!-- contenedor con detalles, perfil, configuración y publicaciones -->
        <div class="container-two-column">
            <div class="container-details-profile-configuration" id="container-details-profile-configuration">
                <div class="details" id="details">
                    <h4>DETALLES</h4>
                    <p>
                        Soy un apasionado del desarrollo frontend con más de 4 años de experiencia en la creación de
                        interfaces web modernas y responsivas. Mi enfoque se centra en combinar diseño atractivo con
                        funcionalidad robusta, siempre buscando mejorar la experiencia del usuario.
                    </p>
                    <div class="main-contac">
                        <div class="item-contac"><i class='bx bx-envelope'></i> <span>edwar.leon@genstudents.org</span>
                        </div>
                        <div class="item-contac"><i class='bx bx-phone'></i> <span>+57 321 215 9041</span></div>
                    </div>
                    <div class="footer-details">
                        <div class="btn-footer-details" id="btn-pictures-desk">Fotos</div>
                        <div class="btn-footer-details" id="btn-friends-desk">Amigos</div>
                        <div class="btn-footer-details" id="btn-posts-desk">Publicación</div>
                    </div>
                </div>
                <div class="container-profile-configuration" id="container-profile-configuration">
                    <div class="profile-desktop" id="container-profile">
                        <h4>PERFIL</h4>
                        <div class="btn-close-menu-profile" id="close-menu-profile"><i class='bx bx-chevrons-left'></i>
                        </div>
                        <div class="item-configuration"><i class='bx bx-envelope'></i>
                            <span>edwar.leon@genstudents.org</span><i class='bx bx-edit'></i>
                        </div>
                        <div class="item-configuration"><i class='bx bx-phone'></i> <span>+57 321 215 9041</span><i
                                class='bx bx-edit'></i></div>
                        <div class="item-configuration"><i class='bx bx-map'></i> <span>Colombia</span><i
                                class='bx bx-edit'></i></div>
                        <div class="item-configuration"><i class='bx bx-user-circle'></i> <span>Masculino</span><i
                                class='bx bx-edit'></i></div>
                        <div class="item-configuration"><i class='bx bx-cake'></i> <span>29 - jul - 1990</span><i
                                class='bx bx-edit'></i></div>
                        <div class="item-configuration"><i class='bx bx-cool'></i> <span>Full Stack</span><i
                                class='bx bx-edit'></i></div>
                        <div class="item-configuration"><i class='bx bx-coin-stack'></i> <span>
                                <div class="languege-program">
                                    <p>JAVA </p>
                                </div>
                            </span><i class='bx bx-edit'></i></div>
                    </div>

                </div>
            </div>
            <!-- Publicaciones -->
            <div class="container-post" id="post">

            </div>

            <!-- Finaliza publicaciones  -->
            <!--  Finaliza contenedor con detalles, perfil, configuración y publicaciones -->
            <!-- Footer fijo con notificaciones, amigos y crear nueva publicación -->

        </div>
        <footer class="pie-pagina">
            <section class="pie notificacion" id="notifications">
                <i class='bx bxs-bell'></i>
                <h3>Notificaciones</h3>
            </section>
            <section class="pie amigos" id="friends">
                <i class='bx bxs-group'></i>
                <h3>Amigos</h3>
            </section>
            <section class="pie publicacion" id="new-post">
                <i class='bx bxs-add-to-queue'></i>
                <h3>Nuevo post</h3>
            </section>
        </footer>
        <div class="modal-configuration hidden-setting" id="modal-configuration">

        </div>

        <div class="modal-friends hidden-friends" id="modal-friends">
            <div class="friendsList friendsModal">
                <div class="friendsTitle">
                    <i class='bx bxs-chevrons-left' id="close-friends"></i>
                    <h3>Amigos</h3>
                </div>
            </div>
        </div>

        <div class="modal-notifications hidden-notifications notificacionesSelect" id="modal-notifications">
            <div class="notificationsList notificacionesModal">
                <div class="notificattionTitle">
                    <i class='bx bxs-chevrons-left' id="close-notifications"></i>
                    <h3>Notificaciones</h3>
                </div>

            </div>
        </div>

        <div class="containerComment hiddenComment">

            <div class="commentBox">
                <div class="commentsTitle">
                    <i class='bx bx-chevrons-left closeComment'></i>
                    <h3>Commentarios</h3>

                </div>

                <div class="commentModal">
                </div>

            </div>

        </div>
        <!-- Finaliza footer con notificaciones, amigos y crear nueva publicación  -->
    </div>

    <form class="modal-new-post" id="modal-new-post">
        <div class="container-modal">
            <div class="back-post">
                <i class='bx bxs-chevrons-left' id="btn-back-post-profile"></i>
                <p>Crear Publicación</p>
                <button class="btn-post" type="submit" id="btn-post">Publicar</button>
            </div>
            <div class="profile-post">
                <div class="img-new-post">
                    <img src="../public/images/edwar-leon.png" alt="image profile" id="img-user-post">
                </div>
                <p id="name-user-post">Eddy León</p>
            </div>
            <textarea class="msg-post" name="msg-post" id="msg-post" placeholder="¿Qué estás pensando?"></textarea>
            <div class="footer-post">
                <div class="media-box-post vid-box" id="btn-video-file">
                    <input type="file" name="video-file" id="video-file" class="media-post">
                    <label>Videos</label>
                    <i class='bx bxs-video'></i>
                </div>
                <div class="media-box-post" id="btn-photo-file">
                    <input type="file" name="video-file" id="photo-file" class="media-post">
                    <p>Fotos</p>
                    <i class='bx bxs-image'></i>
                </div>
            </div>
        </div>
    </form>
    <script src="../js/consumo-publicaciones-perfil.js" type="module"></script>
    <script src="../js/btn-edit-profile.js" type="module"></script>
    <script src="../js/modal-configuration.js"></script>
    <script src="../js/modal-friends.js" type="module"></script>
    <script src="../js/modal-notifications.js" type="module"></script>
    <script src="../js/consumo-notificaciones.js" type="module"></script>
    <script src="../js/modal-comments.js" type="module"></script>
    <script src="../js/new-post.js" type="module"></script>

</body>

</html>